<main>
  <!-- header section ------------------------------------->
  <section id="header-section">
    <h1>Nom du site !!!</h1>

  </section>

  <!-- Training section : ---------------------------------->
  <section id="training-section">
    <h2>Reprendre l'aventure</h2>

  </section>

  <!-- Classes section ------------------------------------->
  <section id="classes-section">
    <h2>Toutes les quêtes</h2>

  </section>

  <!-- Forum Section --------------------------------------->
  <section id="forum-section">
    <h2>Discutez avec la communauté</h2>


  </section>
</main>
