<div class="container">
  <nav>
    <ul>
      <li>
        <a routerLink="user/home/#header">Home</a>
      </li>
      <li>
        <a href="user/home/#training-section">Mon parcours</a>
      </li>
      <li>
        <a href="user/home/#classes-section" title="Tous les cours">Quêtes</a>
      </li>
    </ul>
  </nav>
  <a id="avatar_link" href="#" title="">
    <img id="avatar" src="../../../../assets/Images/test-avatar.jpg" alt="Mon profil">
  </a>
</div>

<div id="profile_nav">
  <ul>
    <li>
      <a routerLink="">Mon profil</a>
    </li>
    <li>
      <a routerLink="">Mes cours</a>
    </li>
    <li>
      <a routerLink="">Compétences</a>
    </li>
    <li>
      <a routerLink="">Déconnexion</a>
    </li>
  </ul>
</div>
