<main>
  <div class="game-section">
    <div class="game-container" #map>
      <div class="move" id="one" #one></div>
      <div class="move" id="two" #two></div>
      <div class="move" id="three" #three></div>
      <div class="hero" id="hero" #hero></div>
    </div>

    <div class="pointer-container" #pointer_container>
      <div class="move pointer" id="onePt" #onePt></div>
      <div class="move pointer" id="twoPt" #twoPt></div>
      <div class="move pointer" id="threePt" #threePt></div>
      <div class="move pointer" id="heroPt" #heroPt></div>
    </div>
  </div>



  <div class="answer-container">
    <div class="explanation">
      <p>{{game.explication}}</p>
    </div>
    <fieldset>
      <legend>Réponse</legend>
      <form [formGroup]="form">
        <input formControlName="answer" id="answer" placeholder="Entrez votre réponse ici" max="50">
        <button type="submit" (click)="validateForm()">Répondre</button>
      </form>
    </fieldset>
  </div>
</main>


