.game-section, .answer-container {
  margin: 20px auto;
  width: 40%;
}

.pointer-container {
  display: flex;
  justify-content: space-evenly;
  vertical-align: center;
  position: relative;
  height: 200px;
  background-color: #ece3be;
}

fieldset {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}


.code-container {
  background-color: black;
  color: white;
  font-family: "Courier 10 Pitch", serif;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  box-sizing: border-box;
}


/*
.toSelect {
  background-image: url("../../../../assets/Images/dragon-noob.png");
} */
